  <!DOCTYPE html>
  <html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="description" content="WebDemo">
    <meta name="keywords" content="WebDemo, 学习AngularJs, 学习BootStrap">
    <link type="text/css" href="static/tp/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="static/styles/homepage/index.css" rel="stylesheet">
    <link type="text/css" href="static/styles/components.css" rel="stylesheet">
    <!--<script type="text/javascript" src="vendor/angular/angular.js"></script>-->

    <script type="text/javascript">
      var WebDemoConfig = {
        staticDomain: '',
        scriptsBaseUrl: 'static/scripts',
        additionalScripts: [],
        devMode: false,
        env: 'production',
        slServicesEndpoint:'',
        oldSiteEndpoint:'',
        locale:'zh',
        buildNumber:147885857,
        enableBrowserLog: true,
        showSecondaryForPublic:true,
        regFormType:  2,
        jsonFromDB:true,
        publicKey:'',
        customRequire:{},
        lenderModuleEndpoint: '',
        slAppScript:"",
        bootstrapInsideMin:true,
        apiPrefix: null,
        nodeAPI: false,
        // Brand details
        brand:""
      };
      window.isLandingPage = false;
      //scripts
      WebDemoConfig.additionalScripts.push('homepage/homepage');
    </script>
    <script type="text/javascript" src="static/tp/require/require.min.js"></script>
    <script type="text/javascript" src="static/scripts/index.js"></script>
    <script type="text/javascript" src="static/scripts/resources/zh-client.js"></script>
    
    <style type="text/css">
    @font-face {
      font-family: 'proxima-nova';
      src: url(static/styles/fonts/proximanova/proximanova-regular-webfont.eot);
      src: url(static/styles/fonts/proximanova/proximanova-regular-webfont.eot?#iefix) format('embedded-opentype'),
        url(static/styles/fonts/proximanova/proximanova-regular-webfont.woff) format('woff'),
        url(static/styles/fonts/proximanova/proximanova-regular-webfont.ttf) format('truetype'),
        url(static/styles/fonts/proximanova/proximanova-regular-webfont.svg#proxima_nova_rgregular) format('svg');
      font-weight: normal;
      font-style: normal;
    }

    /*@font-face {
      font-family: 'proxima-nova';
      src: url(static/styles/fonts/proximanova/proximanova-bold-webfont.eot);
      src: url(static/styles/fonts/proximanova/proximanova-bold-webfont.eot?#iefix) format('embedded-opentype'),
        url(static/styles/fonts/proximanova/proximanova-bold-webfont.woff) format('woff'),
        url(static/styles/fonts/proximanova/proximanova-bold-webfont.ttf) format('truetype'),
        url(static/styles/fonts/proximanova/proximanova-bold-webfont.svg#proxima_nova_rgbold) format('svg');
      font-weight: bold;
      font-style: normal;
    }*/
  </style>
  </head>
  <body ng-controller="MainCtrl">
  <div class="wrapper">
  <header id="index-header" class="clearfix" ng-class="{true : 'logged', false : 'no-logged'}[isAuthenticated]" ng-controller="HeaderCtrl">
      <div ng-include="'templet/header.tpl.html'"></div>
  </header>

  <div class="homepage-wrapper" ng-controller="homeContextCtrl">
    <div class="banner">
      <div class="main-banner">
        <dl>
          <dt>为何百万用户选择点融？</dt>
          <dd><span class="checkbox-icon"></span>投资极度分散</dd>
          <dd><span class="checkbox-icon"></span>利息自动复投</dd>
          <dd><span class="checkbox-icon"></span>天天付息</dd>
          <dd class="long"><span class="checkbox-icon"></span>期限灵活，随时转让</dd>
          <dd><span class="checkbox-icon"></span>安全透明</dd>
        </dl>
        <a class="register" href="">立即注册</a>
        <span class="advert-cue">广告</span>
      </div>

      <a href="" class="market-banner"></a>
    </div>

    <div class="internet-finance container">
      <div class="main-wrapper">
        <h3>点融网是谁？</h3>
        <p>点融网是获渣打直接投资公司和老虎环球基金融资的互联网金融公司（C轮融资获2亿美金），由纽交所上市公司Lending Club联合创始人苏海德（Soul Htite）与资深金融法律师郭宇航创办，致力于用先进互联网技术和金融创新使投资与借贷更透明、更高效。创新理财项目“团团赚”专注于有保障的资产，让投资人轻松理财。</p>
      </div>
      <a href="" target="_blank">
        <ul class="sidebar">
          <li class="risk-manage"><span class="icon"></span>严密的风控管理系统</li>
          <li class="tech"><span class="icon"></span>先进雄厚的独家技术</li>
          <li class="security"><span class="icon"></span>投资安全由法律保障</li>
        </ul>
      </a>
    </div>

    <div class="favorite-product container">
    <div class="main-wrapper">
      <h3>明星产品 - 团团赚<a target="_blank" href=""><span class="play-icon"></span>播放团团赚介绍视频</a></h3>

      <ul class="plan-list clearfix">
        <li class="clearfix" ng-cloak ng-repeat="plan in plans">
          <div class="plan-name">
            <i class="plan-img" ng-style="{'background-color': plan.planColor}"></i><a ng-href="{{'/market/plan?planId=' + plan.loanId}}">{{plan.simpleName}}</a>
          </div>
          <!--由于带单位的原因，所以使用{{}}，使用ng-bind更好-->
          <div class="plan-rate right-border">
            <p>{{ plan | planIntRate }}<small>%</small></p>
            <p>历史年化收益率</p>
          </div>

          <div class="plan-amount right-border">
            <p>{{plan.minInvestAmount | number}}<small>元</small></p>
            <p>起投金额</p>
          </div>

          <div class="plan-members">
            <p>{{plan.memberNum | number}}<small>人次</small></p>
            <p>累计入团</p>
          </div>
        </li>
      </ul>

      <div class="invest-now clearfix">
        <span>
          “团团赚” 实现投资极度分散 , 天天付息，利息自动复投，且期限灵活 , 随时转让。
        </span>
        <a href="https://www.dianrong.com/market">我要投资</a>
      </div>
    </div>

    <div class="other-plan sidebar">
      <h3>所有团产品<a href="/market">查看更多  ></a></h3>
      <ul class="simple-plan-list">
        <li ng-cloak ng-repeat="oplan in otherPlans">
          <div class="plan-name"><a ng-href="{{'/market/plan?planId=' + oplan.loanId}}" ng-bind="oplan.simpleName"></a></div><!--
       --><div class="plan-rate">{{ oplan | planIntRate }} %</div><!--
       --><div class="plan-text">历史年化收益率</div>
        </li> 
      </ul>
    </div>

    <div class="more-info clearfix">
      <div class="contact-us"><i class="service-avatar"></i>想了解更多详情，可拨打<i class="sl-icon-bold-phone"></i>400-921-9218</div>
      <div class="more-art">
        <a class="faq" href="https://www.dianrong.com/public/help-center" target="_blank">热门的10个问题</a>
        <a class="media" href="http://forum.dianrong.com/" target="_blank">点融社区求助</a>
      </div>
    </div>
  </div>
  
  <div class="about-dr container">
    <div class="main-wrapper full">
      <h3>关于点融</h3>

      <div class="bulletins">
        <div class="dr-leadership">
          <a href="/public/about#/leadership/" target="_blank">
            <i></i>
            <p class="title">行业黄金管理团队</p>
            <p class="content">点融高管团队被评为 “黄金管理团队”，毕业于哈佛，斯坦福，MIT等顶尖名校，平均15年国际互联网和金融公司工作...<span class="link">查看更多&nbsp;&gt;</span></p>
          </a>
        </div>
        <div class="dr-partner">
          <a href="/public/about#/company?anchor=investor" target="_blank">
            <i></i>
            <p class="title">我们的投资方</p>
            <p class="content">点融网已先后获得渣打直接投资有限公司、老虎环球基金以及北极光创投等投资方投资。C轮融资2.07亿美元。<span class="link">查看更多&nbsp;&gt;</span></p>
          </a>
        </div>
        <div class="dr-recruit">
          <a href="/public/about#/job" target="_blank">
            <i></i>
            <p class="title">加入我们</p>
            <p class="content">我们需要优秀的人才加入我们的团队，如果你有开拓精神并渴望迎接新的挑战，请加入我们，你可以获得宝贵的在创新前沿的...<span class="link">查看更多&nbsp;&gt;</span></p>
          </a>
        </div>
        <div class="dr-news">
          <div webdemo-banners border="60" interval="4">
            <li ng-repeat="art in news" webdemo-banner>
              <a href="{{art.href}}" target="_blank">
                <i class="{{art.image}}"></i>
                <p class="title" ng-bind="art.title | slStringTruncate:24"></p>
                <p class="content"><span ng-bind="art.content | slStringTruncate:76"></span><span class="link">查看更多&nbsp;&gt;</span></p>
              </a>
            </li>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="press-release container">
    <div class="main-wrapper full">
      <h3>媒体评价</h3>
      <div class="wrapper">
        <ul class="art-list clearfix" ng-cloak>
          <li ng-repeat="media in medias">
            <a ng-href="{{media.link}}" target="_blank">
              <i class="{{'media-'+media.name}}"></i>
              <p ng-bind="media.content"></p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
    <!--footer-->
    <footer id="index-footer">
  <div class="container footer-site-map">
  <dl>
    <dt class="title footer-home">公司信息</dt>
    <dd><a href="/public/about#/company">公司简介</a></dd>
    <dd><a href="/public/about#/news">点融动态</a></dd>
    <dd><a href="/public/about#/media">媒体报道</a></dd>
    <dd><a href="/public/about#/job">加入我们</a></dd>
    <dd><a href="/public/about#/company?anchor=office">联系我们</a></dd>
    <dd><a href="http://forum.dianrong.com/" target="_bank">点融社区</a></dd>
  </dl>

  <dl class="policy">
    <dt class="title footer-policy">相关政策</dt>
    <dd><a href="/public/about#/safety" target="_blank">安全保障</a></dd>
    <dd><a href="/public/rates-and-fees" target="_blank">费率说明</a></dd>
    <dd><a href="/market/multiple-security" target="_blank">多重保障</a></dd>
    <dd><a href="/public/disclaimer" target="_blank">免责声明</a></dd>
  </dl>

  <dl class="app-download">
    <dt class="title footer-mobile">手机应用</dt>
    <dd class="download-link"><a href="https://itunes.apple.com/us/app/dian-rong-wang/id725186555?mt=8" target="_blank" rel="nofollow" class="iPhone"><i class="index-icon-apple"></i>iPhone</a></dd>
    <dd class="download-link"><a href="http://app.mi.com/detail/56106" target="_blank" rel="nofollow" class="android"><i class="index-icon-android"></i>Android</a></dd>
    <dd class="qr-code"></dd>
    <dt class="title footer-public">关注公众号</dt>
    <dd class="public-code"></dd>
  </dl>

  <dl class="our-office">
    <dt>联系我们</dt>
    <!--<dd class="map"></dd>-->
    <dd>北京</dd>
    <dd>上海</dd>
    <dd>广州</dd>
    <dd>重庆</dd>
    <dd>南京</dd>
    <dd>成都</dd>
    <dd>天津</dd>
    <dd>武汉</dd>
    <dd>大连</dd>
    <dd>深圳</dd>
    <dd>合肥</dd>
    <dd><a href="/public/about#/company?anchor=office">更多</a></dd>
  </dl>

</div>

  <dl class="container footer-friend-link clearfix">
  <dt>友情链接</dt>
  <dd><a href="http://iof.hexun.com/" target="_blank">和讯理财</a></dd>
  <dd><a href="http://licai.cofool.com/" target="_blank">叩富理财 </a></dd>
  <dd><a href="http://www.trustores.cn/" target="_blank">香港保险</a></dd>
  <dd><a href="http://www.asiafinance.cn/" target="_blank">金融导航</a></dd>
  <dd><a href="http://www.szjstz.cn/" target="_blank">金苏财富</a></dd>
  <dd><a href="http://www.guijinshu.com/" target="_blank">贵金属</a></dd>
  <dd><a href="http://cngold.com.cn" target="_blank">中金网</a></dd>
  <dd><a href="http://www.dingniugu.com/" target="_blank">顶牛股网</a></dd>
  <dd><a href="http://www.ucai123.com/" target="_blank">航运指数</a></dd>
  <dd><a href="http://www.fxsol-uk.com/" target="_blank">Fxsol官网</a></dd>
  <dd><a href="http://www.leadbank.com.cn/" target="_blank" class="lead-position">利得财富</a></dd>
  <dd><a href="http://www.dianrong.com/caifu/ " target="_blank">P2P理财</a></dd>
</dl>

  
<ul class="footer-copyright">
  <li>©2017&nbsp;点融网</li>
  <li><a href="http://www.miibeian.gov.cn/">沪ICP备14028311号</a></li>
  <li>上海点荣金融信息服务有限责任公司</li>
</ul>

<div class="footer-authentication-info">
  <a target="_blank" class="picp" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010102002033" rel="nofollow"><span></span></a>
  <a target="_blank" class="norton" href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=www.dianrong.com&amp;lang=zh_cn" rel="nofollow"></a>
  <a target="_blank" class="iac" href="https://218.242.124.22:8082/businessCheck/verifKey.do?showType=extShow&serial=9031000020160418194226000000627114-SAIC_SHOW_310000-20160812190229663070&signData=MEUCIH3dbhj+OSXYLIY3SfE2rs3WpZ8IqNBP/GXNMeTdPL0SAiEA51boZ4RqRdc9uwVD4t7TIOKl6kL7O99sBCs094n8WII=" rel="nofollow"></a>
  <a target="_blank" class="verifyseal" href="https://ss.knet.cn/verifyseal.dll?sn=e15010631011557181nh4l000000&amp;ct=df&amp;a=1&amp;pa=0.6343199273105711">
  </a>
  <!--<a id="__szfw_logo__" class="szfw" href="https://search.szfw.org/cert/l/CX20150107006323006821" target="_blank"></a>
  <script type="text/javascript">(function(){document.getElementById('__szfw_logo__').oncontextmenu = function(){return false;}})();</script>
  <a target="_blank" href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1062547634" class="itrust" rel="nofollow"></a>-->
</div>
</footer>
</div>
</body>
</html>