body {
	min-width: 1170px
}

#index-header {
	background-color: #FFF;
	z-index: 10;
	border-bottom: 1px solid #E4E4E4
}

#index-header .container {
	position: relative;
	width: 1170px!important;
	height: 108px
}

/*header部帮助菜单布局*/
#index-header .header-help {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	height: 30px;
	font-size: 0;
	color: #666
}

#index-header .header-help li {
	display: inline-block;
	margin: 8px 0 20px;
	padding: 0 10px;
	list-style-type: none;
	border-right: 1px solid #E4E4E4;
	font-size: 14px;
	line-height: 16px
}

#index-header .header-help li.user {
	position: relative
}

/*用户信息样式*/
#index-header .header-help li:first-child {
	position: relative;
	padding-right: 0;
	border: none
}

/*客服专线样式*/
#index-header .header-help li.service-number {
	border-right: none;
	margin-right: 4px;
	color: #00bd8c;
	font-size: 17px;
	line-height: 20px /*行间距*/
}

#index-header .header-help a {
	color: #666
}

#index-header .header-help a:hover {
	color: #333
}

/*设置注册的字体颜色和间距（第二个child）*/
#index-header .header-help a:first-child+a {
	margin-left: 8px;
	color: #f68121
}

#index-header .header-help .logged,#index-header .header-help .no-logged {
	display: none
}

/*用户没有登录时显示*/
#index-header.no-logged .user div:first-child+div {
	display: block
}

#index-header.no-logged .register {
	padding-right: 10px;
	border-right: 1px solid #E4E4E4
}
/*用户登录后的显示*/
#index-header.logged .user div:first-child {
	display: inline-block
}

/*电话微信显示*/
#index-header .header-help .mobile-weichat {
	position: relative
}

/*获取微信样式图片*/
#index-header .header-help .mobile-weichat i.index-icon-weichat {
	display: inline-block;
	width: 20px;
	height: 16px;
	background-image: url(../images/common/header-weixin.png);
	background-image: -webkit-image-set(url(../images/common/header-weixin.png) 1x,url(../images/common/header-weixin2.png) 2x);
	background-repeat: no-repeat;
	vertical-align: -4px;
	cursor: pointer /*光标为一只手*/
}

/*弹出框样式------start--------*/
#index-header .header-help .mobile-weichat .mw-content {
	display: none; /*最开始不显示*/
	position: absolute;
	left: 50%;
	width: 96px;
	height: 196px;
	margin-left: -48px;
	z-index: 20
}

#index-header .header-help .mobile-weichat .mw-content .mw-code {
	margin-top: 12px;
	padding: 7px;
	border: 1px solid #E4E4E4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #fafafa
}

#index-header .header-help .mobile-weichat .mw-content .mw-code .triangle-inner,#index-header .header-help .mobile-weichat .mw-content .mw-code .triangle-outer {
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0
}

#index-header .header-help .mobile-weichat .mw-content .mw-code .triangle-inner {
	margin: 5px 0 0 -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 8px solid #fafafa
}

#index-header .header-help .mobile-weichat .mw-content .mw-code .triangle-outer {
	margin: 4px 0 0 -7px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 8px solid #E4E4E4
}
/*弹出框样式------end--------*/

/*微信图片hover样式*/
#index-header .header-help .mobile-weichat:hover .index-icon-weichat {
	background-image: url(../images/common/header-weixin-hover.png);
	background-image: -webkit-image-set(url(../images/common/header-weixin-hover.png) 1x,url(../images/common/header-weixin-hover2.png) 2x);
	background-repeat: no-repeat
}

#index-header .header-help .mobile-weichat:hover .index-icon-mobile {
	color: #00BC8D
}

#index-header .header-help .mobile-weichat:hover .mw-content {
	display: block /*二维码显示*/
}

/*账户菜单样式------start-------*/
#index-header .header-help .header-account-menu {
	position: absolute;
	padding-top: 10px;
	right: 62px;
	width: 174px;
	background: #FFF;
	z-index: 1002;
	overflow: hidden
}

#index-header .header-help .header-account-menu li,#index-header .header-help .header-account-menu ul {
	margin: 0;
	padding: 0;
	list-style: none
}

#index-header .header-help .header-account-menu ul {
	border: 1px solid #E4E4E4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px
}

#index-header .header-help .header-account-menu ul li {
	width: 100%;
	height: 36px;
	padding: 0 5px;
	border: none;
	line-height: 36px;
	text-align: center
}

#index-header .header-help .header-account-menu ul li:hover {
	background-color: #F5F5F5
}

#index-header .header-help .header-account-menu ul li.last-item {
	border-top: 1px solid #E4E4E4
}

#index-header .header-help .header-account-menu ul li.last-item a {
	color: #d70c18
}

#index-header .header-help .header-account-menu ul li a {
	color: #666;
	font-size: 14px
}
/*账户菜单样式------end-------*/

/*箭头图标*/
#index-header .header-help .header-help-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 -10px;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	vertical-align: -5px;
	cursor: pointer
}

#index-header .header-help .header-help-icon.down {
	background-image: url(../images/h5/help-center/icon-down.png)
}

#index-header .header-help .header-help-icon.up {
	background-image: url(../images/h5/help-center/icon-up.png)
}

/*vip图标样式*/
#index-header .header-help .vip-logo {
	margin: 0 10px 0 0;
	vertical-align: -2px
}

/*消息样式*/
#index-header .header-help li.user .msg-center {
	display: inline-block;
	position: relative;
	border-left: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
	margin-left: 10px;
	padding: 0 12px;
	color: #666
}

#index-header .header-help li.user .msg-center .red-dot {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 41px;
	width: 7px;
	height: 7px;
	background-position: 0 8px
}

/*header导航菜单*/
#index-header .header-nav {
	position: absolute;
	bottom: 0;
	right: 15px;
	margin: 0;
	padding: 0;
	border-left: 1px solid #E4E4E4;
	border-top: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0
}

#index-header .header-nav li {
	float: left;
	list-style-type: none;
	border-left: 1px solid #E4E4E4
}

#index-header .header-nav li a {
	position: relative;
	top: 1px;
	display: inline-block;
	width: 114px;
	height: 46px;
	font-size: 18px;
	text-align: center;
	line-height: 46px;
	color: #333;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none
}

/*一般hover样式*/
#index-header .header-nav li:hover a {
	color: #00BC8D
}
/*被选中菜单hover样式*/
#index-header .header-nav li.active:hover a {
	color: #333
}

#index-header .header-nav li:first-child {
	border-left: none
}

/*导航菜单选中时的背景色*/
#index-footer,#index-header .header-nav li.active {
	background-color: #E4E4E4
}

#index-footer .container {
	width: 1140px!important
}

#index-footer a {
	color: #999
}

#index-footer a:hover {
	color: #666
}

#index-footer .footer-site-map {
	padding: 40px 20px 0;
	font-size: 16px
}

#index-footer .footer-site-map dl {
	float: left;
	width: 22%;
	margin-bottom: 38px;
	padding: 0
}

#index-footer .footer-site-map dl.policy {
	width: 23%
}

#index-footer .footer-site-map dl.app-download {
	width: 25%
}

#index-footer .footer-site-map dl.our-office {
	width: 30%
}

#index-footer .footer-site-map dt {
	margin-bottom: 30px;
	line-height: 16px;
	font-weight: 400;
	color: #333
}

#index-footer .footer-site-map dd {
	margin-bottom: 30px;
	line-height: 16px;
	color: #999
}

#index-footer .footer-site-map dd .android,#index-footer .footer-site-map dd .iPhone {
	display: block;
	width: 124px;
	height: 41px;
	border: 2px solid #00BC8D;
	border-radius: 5px;
	line-height: 38px;
	font-size: 18px;
	color: #00BC8D;
	vertical-align: middle
}

#index-footer .footer-site-map dd .android:hover,#index-footer .footer-site-map dd .iPhone:hover {
	border-color: #40cdaa;
	color: #40cdaa
}

#index-footer .footer-site-map dd .index-icon-android,#index-footer .footer-site-map dd .index-icon-apple {
	margin: 0 10px;
	font-size: 24px;
	vertical-align: -3px
}

#index-footer .footer-site-map .our-office {
	padding-left: 40px
}

#index-footer .footer-site-map .our-office dt {
	margin-bottom: 16px
}

#index-footer .footer-site-map .our-office dd {
	display: block;
	float: left;
	margin: 0;
	width: 25%;
	font-size: 14px;
	line-height: 1.5
}

#index-footer .footer-site-map .our-office dd a {
	color: #00BC8D
}

#index-footer .footer-site-map .our-office .map {
	margin-bottom: 5px;
	width: 100%;
	height: 101px;
	background: url(../images/public/home/footer-common-image-0816.png) -192px -354px no-repeat
}

#index-footer .footer-site-map .our-office .media {
	margin-top: 15px;
	width: 235px
}

#index-footer .footer-site-map .app-download dd {
	margin-bottom: 10px
}

#index-footer .footer-site-map .app-download .footer-mobile,#index-footer .footer-site-map .app-download .footer-public {
	margin-bottom: 20px
}

#index-footer .footer-site-map .app-download .download-link {
	margin-left: 112px
}

#index-footer .footer-site-map .app-download .footer-public {
	margin-top: -82px
}

#index-footer .footer-site-map .app-download .public-code {
	width: 92px;
	height: 92px;
	background: url(../images/public/home/footer-public-code.png) no-repeat
}

#index-footer .footer-site-map .qr-code {
	position: relative;
	top: -102px;
	left: 0;
	display: block;
	width: 92px;
	height: 92px;
	background: url(../images/public/home/footer-common-image-0816.png) no-repeat
}

#index-footer .footer-friend-link {
	margin-bottom: 34px;
	padding: 10px 20px 0;
	border-top: 1px solid #CCC;
	font-size: 13px
}

#index-footer .footer-friend-link dt {
	display: inline-block;
	margin-right: 14px;
	font-weight: 400;
	color: #999
}

#index-footer .footer-friend-link dt:after {
	content: ":"
}

#index-footer .footer-friend-link dd {
	display: inline-block;
	line-height: 16px
}

#index-footer .footer-friend-link dd:after {
	content: "|";
	color: #bbb
}

#index-footer .footer-friend-link dd:last-child:after {
	content: "\20"
}

#index-footer .footer-friend-link a {
	display: inline-block;
	padding: 0 10px;
	color: #bbb
}

#index-footer .footer-copyright {
	margin-bottom: 4px;
	padding-left: 0;
	text-align: center;
	font-size: 14px;
	color: #999
}

#index-footer .footer-copyright li {
	display: inline-block;
	margin-left: 10px;
	list-style: none
}

#index-footer .footer-copyright li:before {
	content: "|";
	margin-right: 10px
}

#index-footer .footer-copyright li:first-child:before {
	content: "\20"
}

#index-footer .footer-copyright li a:active,#index-footer .footer-copyright li a:hover,#index-footer .footer-copyright li a:link,#index-footer .footer-copyright li a:visited {
	color: #9f9f9f
}

#index-footer .footer-authentication-info {
	text-align: center
}

#index-footer .footer-authentication-info a {
	display: inline-block;
	/*background-image: url(/static/images/public/home/footer-common-image-0816.png)*/
}

#index-footer .footer-authentication-info .picp {
	position: relative;
	width: 150px;
	height: 52px;
	margin: 9px 8px;
	background-position: -230px 0
}

#index-footer .footer-authentication-info .picp span {
	position: absolute;
	right: 3px;
	bottom: 0;
	font-size: 12px;
	color: #000
}

#index-footer .footer-authentication-info .norton {
	width: 120px;
	height: 70px;
	margin: 0 8px;
	background-position: 0 -173px
}

#index-footer .footer-authentication-info .iac,#index-footer .footer-authentication-info .szfw,#index-footer .footer-authentication-info .verifyseal {
	margin: 11px 8px 12px
}

#index-footer .footer-authentication-info .iac {
	width: 126px;
	height: 47px;
	background-position: -254px -154px
}

#index-footer .footer-authentication-info .verifyseal {
	width: 128px;
	height: 47px;
	background-position: -252px -82px
}

#index-footer .footer-authentication-info .szfw {
	width: 132px;
	height: 47px;
	background-position: -145px -242px
}

#index-footer .footer-authentication-info .itrust {
	width: 60px;
	height: 58px;
	margin: 6px 8px;
	background-position: -287px -295px
}

/*首页内容样式*/
.homepage-wrapper {
	color: #666
}

.homepage-wrapper ul {
	margin: 0;
	padding: 0
}

.homepage-wrapper li {
	list-style: none
}

.homepage-wrapper .container {
	overflow: hidden;
	margin-bottom: 34px;
	padding: 0;
	width: 1140px!important;
	background: #fff;
	border: 1px solid #E4E4E4
}

/*"点融网是谁"的样式*/
.homepage-wrapper .container h3 {
	margin: 0;
	padding: 18px 0 13px;
	border-bottom: 1px solid #E4E4E4;
	line-height: 1;
	font-size: 22px;
	color: #23465d
}

.homepage-wrapper .container h3 a {
	position: relative;
	top: -3px;
	display: inline-block;
	float: right;
	margin: 0;
	font-size: 14px;
	line-height: 30px
}

.homepage-wrapper .container .main-wrapper {
	display: inline-block;
	padding: 0 20px 0 18px;
	width: 846px;
	vertical-align: middle
}

.homepage-wrapper .container .main-wrapper.full {
	width: 100%
}

/*右侧内容样式*/
.homepage-wrapper .container .sidebar {
	display: inline-block;
	padding: 0 22px;
	border-left: 1px solid #E4E4E4;
	width: 282px;
	vertical-align: middle
}

/*横条广告样式-------------------------start--------------------------*/
.homepage-wrapper .banner {
	position: relative;
	overflow: hidden;
	margin-bottom: 34px;/*模块间的间隔距离*/
	height: 361px;
}

.homepage-wrapper .banner .main-banner,.homepage-wrapper .banner .market-banner {
	position: absolute;
	width: 100%;
	height: 361px;
	border-bottom: 1px solid #E4E4E4;
	background-color: #fff
}

.homepage-wrapper .banner .main-banner {
	right: 50%;
	margin-right: -281px;
	border-right: 1px solid #E4E4E4
}

.homepage-wrapper .banner .main-banner .home-market-banner {
	position: absolute;
	width: 969px;
	height: 360px;
	right: 0
}

.homepage-wrapper .banner .main-banner dl {
	position: absolute;
	width: 360px;
	margin-right: 42px;
	margin-bottom: 0;
	right: 0
}

.homepage-wrapper .banner .main-banner dl dt {
	margin-top: 76px;
	font-size: 24px;
	font-weight: 400;
	line-height: 1;
	color: #333
}

.homepage-wrapper .banner .main-banner dl dd {
	float: left;
	margin-top: 14px;
	width: 160px;
	font-size: 18px;
	color: #00BC8D;
	line-height: 1
}

.homepage-wrapper .banner .main-banner dl dd.long {
	width: 200px
}

.homepage-wrapper .banner .main-banner dl .checkbox-icon {
	display: inline-block;
	margin-right: 8px;
	width: 22px;
	height: 16px;
	background-image: url(../images/public/home/homepage-1026.png);
	background-position: -544px -372px;
	content: "\20"
}

.homepage-wrapper .banner .main-banner .register {
	position: absolute;
	display: inline-block;
	right: 150px;
	bottom: 94px;
	width: 250px;
	height: 36px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #f68121;
	line-height: 39px;
	color: #FFF;
	font-size: 18px;
	text-align: center
}

/*"广告"样式*/
.homepage-wrapper .banner .main-banner .advert-cue {
	line-height: 1; /*行高*/
	font-size: 12px;
	color: #999;
	position: absolute;
	top: 20px;
	left: auto;
	right: 20px
}

.homepage-wrapper .banner .market-banner {
	left: 50%;
	margin-left: 281px;
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #FFF
}
/*横条广告样式---------------------------end--------------------------*/

.homepage-wrapper .internet-finance .main-wrapper {
	vertical-align: middle
}

.homepage-wrapper .internet-finance p {
	margin: 0;
	padding: 20px 0;
	font-size: 15px
}

.homepage-wrapper .internet-finance ul li {
	position: relative;
	margin: 16px 0 21px;
	clear: both;
	color: #00BC8D;
	font-size: 16px;
	line-height: 1
}

.homepage-wrapper .internet-finance ul li span {
	position: relative;
	top: 2px;
	margin: 0 0 0 10px;
	font-size: 14px;
	vertical-align: middle
}

.homepage-wrapper .internet-finance ul li span.icon {
	top: -2px;
	display: inline-block;
	margin: 0 10px 0 0;
	width: 22px;
	height: 22px;
	background-image: url(../images/public/home/homepage-1026.png);
	content: "\20"
}

.homepage-wrapper .internet-finance ul li.security {
	margin-bottom: 10px
}

.homepage-wrapper .internet-finance ul .risk-manage .icon {
	background-position: -516px -338px
}

.homepage-wrapper .internet-finance ul .tech .icon {
	background-position: -545px -336px
}

.homepage-wrapper .internet-finance ul .security .icon {
	background-position: -575px -338px
}

.homepage-wrapper .favorite-product .main-wrapper {
	float: left;
	display: block
}

.homepage-wrapper .favorite-product .main-wrapper h3 .play-icon {
	position: relative;
	top: -2px;
	display: inline-block;
	margin-right: 5px;
	border: 2px solid #00BC8D;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px
}

.homepage-wrapper .favorite-product .main-wrapper h3 .play-icon:before {
	position: absolute;
	top: 7px;
	left: 10px;
	display: block;
	border-width: 6px 10px;
	border-style: solid;
	border-color: transparent transparent transparent #00BC8D;
	width: 0;
	content: ""
}

.homepage-wrapper .favorite-product .more-info {
	clear: both;
	margin: 0 22px;
	border-top: 1px solid #E4E4E4;
	height: 90px;
	font-size: 16px
}

.homepage-wrapper .favorite-product .more-info .contact-us {
	float: left;
	height: 90px;
	font-size: 20px;
	line-height: 90px
}

.homepage-wrapper .favorite-product .more-info .contact-us .service-avatar {
	float: left;
	display: block;
	margin-right: 14px;
	width: 104px;
	height: 90px;
	background-image: url(../images/public/home/homepage-1026.png);
	background-position: -612px -358px
}

.homepage-wrapper .favorite-product .more-info .contact-us .index-icon-bold-phone {
	margin-left: 10px;
	margin-right: 5px;
	color: #00BC8D;
	vertical-align: -2px
}

.homepage-wrapper .favorite-product .more-info .more-art {
	font-size: 18px;
	text-align: right;
	margin-top: 32px
}

.homepage-wrapper .favorite-product .more-info .more-art a {
	position: relative;
	padding-left: 40px;
	color: #666
}

.homepage-wrapper .favorite-product .more-info .more-art a:before {
	position: absolute;
	left: 0;
	top: -6px;
	width: 30px;
	height: 30px;
	display: block;
	background-image: url(../images/public/home/homepage-1026.png);
	content: "\20"
}

.homepage-wrapper .favorite-product .more-info .more-art a:first-child {
	margin-right: 115px
}

.homepage-wrapper .favorite-product .more-info .more-art a:first-child:before {
	background-position: -546px -300px
}

.homepage-wrapper .favorite-product .more-info .more-art a:first-child+a {
	margin-right: 48px
}

.homepage-wrapper .favorite-product .more-info .more-art a:first-child+a:before {
	background-position: -514px -300px
}

.homepage-wrapper .favorite-product .plan-list li {
	height: 90px
}

.homepage-wrapper .favorite-product .plan-list li>div {
	overflow: hidden;
	float: left;
	height: 90px;
	text-align: center
}

.homepage-wrapper .favorite-product .plan-list li .right-border {
	position: relative
}

.homepage-wrapper .favorite-product .plan-list li .right-border:after {
	position: absolute;
	top: 30px;
	right: 0;
	display: inline-block;
	content: "\20";
	width: 1px;
	height: 32px;
	background-color: #F0F0F0
}

.homepage-wrapper .favorite-product .plan-list p {
	color: #999
}

.homepage-wrapper .favorite-product .plan-list p:first-child {
	margin-bottom: -6px;
	font-size: 30px;
	line-height: 1;
	text-align: center;
	color: #333
}

.homepage-wrapper .favorite-product .plan-list p:first-child small {
	margin-left: 5px;
	font-size: 16px
}

.homepage-wrapper .favorite-product .plan-list .plan-name {
	width: 130px;
	font-size: 20px;
	color: #333;
	line-height: 95px;
	text-align: left
}

.homepage-wrapper .favorite-product .plan-list .plan-name a {
	color: #333
}

.homepage-wrapper .favorite-product .plan-list .plan-img {
	float: left;
	display: inline-block;
	margin-top: 25px;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: url(../images/public/home/homepage-1026.png) -730px -304px no-repeat
}

.homepage-wrapper .favorite-product .plan-list .plan-rate {
	padding-top: 24px;
	width: 225px
}

.homepage-wrapper .favorite-product .plan-list .plan-rate p:first-child {
	color: #F84528
}

.homepage-wrapper .favorite-product .plan-list .plan-amount {
	padding-top: 24px;
	width: 210px
}

.homepage-wrapper .favorite-product .plan-list .plan-members {
	padding-top: 24px;
	width: 240px
}

.homepage-wrapper .favorite-product .plan-list .plan-guard {
	padding-top: 32px;
	padding-left: 25px;
	width: 116px
}

.homepage-wrapper .favorite-product .plan-list .plan-guard p:first-child {
	margin-bottom: 4px;
	font-size: 18px
}

.homepage-wrapper .favorite-product .invest-now {
	padding: 20px 0;
	line-height: 40px;
	font-size: 16px
}

.homepage-wrapper .favorite-product .invest-now span {
	width: 73%;
	line-height: 24px;
	display: inline-block
}

.homepage-wrapper .favorite-product .invest-now a {
	float: right;
	width: 216px;
	height: 40px;
	background-color: #00BC8D;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 42px
}

.homepage-wrapper .favorite-product .other-plan {
	float: right;
	width: 288px
}

.homepage-wrapper .favorite-product .other-plan h3 {
	margin-bottom: 10px
}

.homepage-wrapper .favorite-product .other-plan .simple-plan-list {
	color: #999
}

.homepage-wrapper .favorite-product .other-plan .simple-plan-list li {
	margin: 30px 0
}

.homepage-wrapper .favorite-product .other-plan .simple-plan-list li:first-child {
	margin-top: 28px
}

.homepage-wrapper .favorite-product .other-plan .simple-plan-list div {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 1;
	font-size: 16px;
	vertical-align: bottom
}

.homepage-wrapper .favorite-product .other-plan .simple-plan-list .plan-name {
	width: 55px;
	text-align: left;
	font-size: 18px;
	color: #333
}

.homepage-wrapper .favorite-product .other-plan .simple-plan-list .plan-name a {
	color: #333
}

.homepage-wrapper .favorite-product .other-plan .simple-plan-list .plan-rate {
	width: 79px;
	color: #666;
	text-align: right;
	line-height: 14px;
	padding-right: 10px
}

.homepage-wrapper .favorite-product .other-plan .simple-plan-list .plan-guard {
	text-align: right;
	font-size: 14px;
	overflow: hidden
}

.homepage-wrapper .favorite-product .other-plan .simple-plan-list .plan-text {
	color: #999;
	font-size: 14px;
	line-height: 14px;
	text-align: right
}

.homepage-wrapper .about-dr .bulletins>div {
	float: left;
	margin: 22px 1px 22px 24px;
	width: 256px;
	height: 298px;
	border: 1px solid #E4E4E4
}

.homepage-wrapper .about-dr .bulletins>div:first-child {
	margin-left: 0
}

.homepage-wrapper .about-dr .bulletins>div i {
	display: block;
	width: 254px;
	height: 150px;
	border-bottom: 1px solid #E4E4E4;
	background: url(../images/public/home/homepage-1026.png) no-repeat
}

.homepage-wrapper .about-dr .bulletins>div i.n_1 {
	background-position: 0 -300px
}

.homepage-wrapper .about-dr .bulletins>div i.n_2 {
	background-position: -256px -150px
}

.homepage-wrapper .about-dr .bulletins>div i.n_3 {
	background-position: -512px -150px
}

.homepage-wrapper .about-dr .bulletins>div i.n_4 {
	background-position: -256px -300px
}

.homepage-wrapper .about-dr .bulletins>div i.n_5 {
	background-position: 0 -150px
}

.homepage-wrapper .about-dr .bulletins>div.dr-partner i {
	background-position: -256px 0
}

.homepage-wrapper .about-dr .bulletins>div.dr-recruit i {
	background-position: -512px 0
}

.homepage-wrapper .about-dr .bulletins>div .title {
	margin-bottom: 0;
	padding: 18px 14px 10px;
	height: 50px;
	color: #23465d;
	font-size: 18px;
	line-height: 1
}

.homepage-wrapper .about-dr .bulletins>div .content {
	overflow: hidden;
	height: 95px;
	margin: 0 14px;
	line-height: 1.5;
	color: #666;
	text-align: justify
}

.homepage-wrapper .about-dr .bulletins>div .link {
	float: right;
	color: #333
}

.homepage-wrapper .about-dr .dr-news {
	overflow: hidden;
	position: relative
}

.homepage-wrapper .about-dr .dr-news .index-banner-list {
	position: absolute
}

.homepage-wrapper .about-dr .dr-news .index-banner-list li {
	float: left;
	width: 256px;
	height: 296px
}

.homepage-wrapper .about-dr .dr-news .index-banner-indicator {
	position: absolute;
	top: 121px;
	width: 100%;
	height: 28px;
	background-color: rgba(255,255,255,.9);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.homepage-wrapper .about-dr .dr-news .index-banner-indicator li {
	position: absolute;
	color: #00BC8D;
	line-height: 28px
}

.homepage-wrapper .about-dr .dr-news .index-banner-indicator .i {
	margin-left: -5px;
	top: 9px;
	width: 10px;
	height: 10px;
	border: 1px solid #00BC8D;
	border-radius: 5px;
	cursor: pointer
}

.homepage-wrapper .about-dr .dr-news .index-banner-indicator .current {
	margin-left: -4.5px;
	top: 10px;
	width: 9px;
	height: 9px;
	background-color: #00BC8D;
	border-radius: 5px
}

.homepage-wrapper .about-dr .dr-news .index-banner-indicator .index-icon-arrow-left {
	left: 12px;
	cursor: pointer
}

.homepage-wrapper .about-dr .dr-news .index-banner-indicator .index-icon-arrow-right {
	right: 12px;
	cursor: pointer
}

.homepage-wrapper .press-release {
	position: relative;
	margin-bottom: 50px
}

.homepage-wrapper .press-release a {
	color: #666
}

.homepage-wrapper .press-release .index-icon-arrow-left,.homepage-wrapper .press-release .index-icon-arrow-right {
	position: absolute;
	top: 112px;
	width: 36px;
	height: 36px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 18px;
	color: #999;
	line-height: 36px;
	text-align: center;
	cursor: pointer
}

.homepage-wrapper .press-release .index-icon-arrow-left:hover,.homepage-wrapper .press-release .index-icon-arrow-right:hover {
	background-color: #F0F0F0
}

.homepage-wrapper .press-release .index-icon-arrow-left:active,.homepage-wrapper .press-release .index-icon-arrow-right:active {
	background-color: #E4E4E4
}

.homepage-wrapper .press-release .index-icon-arrow-right {
	right: 14px
}

.homepage-wrapper .press-release .index-icon-arrow-left {
	left: 14px
}

.homepage-wrapper .press-release .wrapper {
	overflow: hidden;
	position: relative;
	margin: 0 36px;
	width: 1024px;
	height: 160px
}

.homepage-wrapper .press-release .art-list {
	position: relative;
	width: 200%;
	-webkit-transition: left .8s;
	-moz-transition: left .8s;
	transition: left .8s
}

.homepage-wrapper .press-release .art-list li {
	float: left;
	width: 10%;
	height: 162px
}

.homepage-wrapper .press-release .art-list p {
	border-top: 1px solid #E4E4E4;
	padding-top: 10px;
	margin: 0 14px;
	line-height: 20px
}

.homepage-wrapper .press-release .art-list i {
	display: block;
	margin: 15px 10px 0;
	width: 184px;
	height: 65px;
	background: url(../images/public/home/homepage-1026.png) no-repeat
}

.homepage-wrapper .press-release .art-list .media-xhw {
	background-position: -550px -610px
}

.homepage-wrapper .press-release .art-list .media-nxzb {
	background-position: -368px -610px
}

.homepage-wrapper .press-release .art-list .media-cnbc {
	background-position: 0 -530px
}

.homepage-wrapper .press-release .art-list .media-cnn {
	background-position: -368px -530px
}

.homepage-wrapper .press-release .art-list .media-la {
	background-position: -184px -610px
}

.homepage-wrapper .press-release .media-wrapper {
	width: 100%;
	overflow: hidden
}