@charset "UTF-8";

body {
	font-family: proxima-nova,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei","WenQuanYi Zen Hei","Apple LiGothic Medium",SimHei,"ST Heiti","WenQuanYi Zen Hei Sharp";
	font-size: 14px;
	color: #4a4a4a;
	background-color: #f5f5f5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

a {
	color: #00bc8d;
	text-decoration: none; /*文本样式 穿过文本的一条线*/
	-webkit-transition: .25s; /*动画效果展示时间*/
	-moz-transition: .25s;
	transition: .25s
}

/*链接标签不显示下划线*/
a:focus,a:hover {
	color: #40cdaa;
	text-decoration: none
}

a[href="javascript:void(0)"] {
	cursor: default
}

.img-rounded {
	border-radius: 6px
}

/*icon图标样式*/
.img-comment {
	font-size: 15px;
	font-style: italic;
	margin: 24px 0
}[class*=index-icon-]:before,[class^=index-icon-]:before,[data-icon]:before {
	font-family: index-icons!important;
	font-style: normal!important;
	font-weight: 400!important;
	font-variant: normal!important;
	text-transform: none!important;
	speak: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased
}

@font-face {
	font-family:index-icons;src:url(fonts/icons/index-icons.eot);src:url(fonts/icons/index-icons.eot?#iefix) format("embedded-opentype"),url(fonts/icons/index-icons.woff) format("woff"),url(fonts/icons/index-icons.ttf) format("truetype"),url(fonts/icons/index-icons.svg#index-icons) format("svg");font-weight:400;font-style:normal
}[data-icon]:before {
	content: attr(data-icon)
}

.index-icon-uniE688:before {
	content: "\e688"
}

.index-icon-repayment:before {
	content: "\e6b0"
}

.index-icon-portfollo:before {
	content: "\e687"
}

.index-icon-agreement:before {
	content: "\e6b1"
}

.index-icon-pointer-up-dark:before {
	content: "\e683"
}

.index-icon-add-bank-card:before {
	content: "\e681"
}

.index-icon-checkbox-checked:before {
	content: "\e684"
}

.index-icon-checkbox-unchecked:before {
	content: "\e685"
}

.index-icon-radio-uncheck:before {
	content: "\e60d"
}

.index-icon-radio-checked:before {
	content: "\e67e"
}

.index-icon-fund-trade:before {
	content: "\e680"
}

.index-icon-triangle-up:before {
	content: "\e613"
}

.index-icon-triangle-up-small:before {
	content: "\e614"
}

.index-icon-triangle-right-large:before {
	content: "\e67a"
}

.index-icon-triangle-left-large:before {
	content: "\e67b"
}

.index-icon-triangle-down:before {
	content: "\e67c"
}

.index-icon-triangle-down-small:before {
	content: "\e67d"
}

.index-icon-radio-overlayer:before {
	content: "\e67f"
}

.index-icon-checkbox-overlayer:before {
	content: "\e682"
}

.index-icon-income:before {
	content: "\e60f"
}

.index-icon-sale-creditor:before {
	content: "\e60e"
}

.index-icon-redbag:before {
	content: "\e610"
}

.index-icon-withdrawal:before {
	content: "\e611"
}

.index-icon-close2:before {
	content: "\e612"
}

.index-icon-arrow-up:before {
	content: "\e60b"
}

.index-icon-arrow-down:before {
	content: "\e60c"
}

.index-icon-rainy:before {
	content: "\e600"
}

.index-icon-haze:before {
	content: "\e601"
}

.index-icon-cloudy:before {
	content: "\e602"
}

.index-icon-arrow-down-double:before {
	content: "\e603"
}

.index-icon-arrow-up-double:before {
	content: "\e604"
}

.index-icon-snowy:before {
	content: "\e605"
}

.index-icon-compass:before {
	content: "\e606"
}

.index-icon-fahenheit:before {
	content: "\e607"
}

.index-icon-celsius:before {
	content: "\e608"
}

.index-icon-thermometer:before {
	content: "\e609"
}

.index-icon-comet:before {
	content: "\e60a"
}

.index-icon-circle:before {
	content: "\e615"
}

.index-icon-sunny:before {
	content: "\e616"
}

.index-icon-android:before {
	content: "\e617"
}

.index-icon-apple:before {
	content: "\e618"
}

.index-icon-mobile:before {
	content: "\e619"
}

.index-icon-nav:before {
	content: "\e61a"
}

.index-icon-good:before {
	content: "\e61b"
}

.index-icon-tutorial:before {
	content: "\e61c"
}

.index-icon-factory:before {
	content: "\e61d"
}

.index-icon-money:before {
	content: "\e61e"
}

.index-icon-icon-89:before {
	content: "\e61f"
}

.index-icon-message:before {
	content: "\e620"
}

.index-icon-b-transfer:before {
	content: "\e621"
}

.index-icon-b-shopping-cart:before {
	content: "\e622"
}

.index-icon-b-repayment:before {
	content: "\e623"
}

.index-icon-check:before {
	content: "\e624"
}

.index-icon-b-clock:before {
	content: "\e625"
}

.index-icon-b-investors:before {
	content: "\e626"
}

.index-icon-download:before {
	content: "\e627"
}

.index-icon-calculator:before {
	content: "\e628"
}

.index-icon-location:before {
	content: "\e629"
}

.index-icon-calendar:before {
	content: "\e62a"
}

.index-icon-email:before {
	content: "\e62b"
}

.index-icon-team:before {
	content: "\e62c"
}

.index-icon-chart:before {
	content: "\e62d"
}

.index-icon-media:before {
	content: "\e62e"
}

.index-icon-crew:before {
	content: "\e62f"
}

.index-icon-home:before {
	content: "\e630"
}

.index-icon-dianrong:before {
	content: "\e631"
}

.index-icon-writing:before {
	content: "\e632"
}

.index-icon-user-message:before {
	content: "\e633"
}

.index-icon-magic-wand:before {
	content: "\e634"
}

.index-icon-personal:before {
	content: "\e635"
}

.index-icon-policy:before {
	content: "\e636"
}

.index-icon-borrower:before {
	content: "\e637"
}

.index-icon-lender:before {
	content: "\e638"
}

.index-icon-wechat:before {
	content: "\e639"
}

.index-icon-weibo:before {
	content: "\e63a"
}

.index-icon-qq:before {
	content: "\e63b"
}

.index-icon-details-more:before {
	content: "\e63c"
}

.index-icon-saying:before {
	content: "\e63d"
}

.index-icon-details:before {
	content: "\e63e"
}

.index-icon-diamond:before {
	content: "\e63f"
}

.index-icon-copy:before {
	content: "\e640"
}

.index-icon-check2:before {
	content: "\e641"
}

.index-icon-shopping-cart:before {
	content: "\e642"
}

.index-icon-service:before {
	content: "\e643"
}

.index-icon-beat:before {
	content: "\e644"
}

.index-icon-yachet:before {
	content: "\e645"
}

.index-icon-price-tag:before {
	content: "\e646"
}

.index-icon-kiosk:before {
	content: "\e647"
}

.index-icon-puzzle:before {
	content: "\e648"
}

.index-icon-faq:before {
	content: "\e649"
}

.index-icon-lock:before {
	content: "\e64a"
}

.index-icon-rocket:before {
	content: "\e64b"
}

.index-icon-profession:before {
	content: "\e64c"
}

.index-icon-news:before {
	content: "\e64d"
}

.index-icon-shield:before {
	content: "\e64e"
}

.index-icon-eye:before {
	content: "\e64f"
}

.index-icon-branch:before {
	content: "\e650"
}

.index-icon-ring-bell:before {
	content: "\e651"
}

.index-icon-credit-card:before {
	content: "\e652"
}

.index-icon-piggy-bank:before {
	content: "\e653"
}

.index-icon-dart:before {
	content: "\e654"
}

.index-icon-crown:before {
	content: "\e655"
}

.index-icon-profile:before {
	content: "\e656"
}

.index-icon-account:before {
	content: "\e657"
}

.index-icon-trending2:before {
	content: "\e658"
}

.index-icon-more:before {
	content: "\e659"
}

.index-icon-phone:before {
	content: "\e65a"
}

.index-icon-dots:before {
	content: "\e65b"
}

.index-icon-question-dark:before {
	content: "\e65c"
}

.index-icon-error:before {
	content: "\e65d"
}

.index-icon-warning:before {
	content: "\e65e"
}

.index-icon-search:before {
	content: "\e65f"
}

.index-icon-flag:before {
	content: "\e660"
}

.index-icon-flag-dark:before {
	content: "\e661"
}

.index-icon-message-square:before {
	content: "\e662"
}

.index-icon-rmb:before {
	content: "\e663"
}

.index-icon-trash:before {
	content: "\e664"
}

.index-icon-revert-dark:before {
	content: "\e665"
}

.index-icon-revert:before {
	content: "\e666"
}

.index-icon-add:before {
	content: "\e667"
}

.index-icon-icon-15:before {
	content: "\e668"
}

.index-icon-star:before {
	content: "\e669"
}

.index-icon-flight:before {
	content: "\e66a"
}

.index-icon-wechat-message:before {
	content: "\e66b"
}

.index-icon-envelope:before {
	content: "\e66c"
}

.index-icon-ranking:before {
	content: "\e66d"
}

.index-icon-money-tag:before {
	content: "\e66e"
}

.index-icon-arrow-down2:before {
	content: "\e66f"
}

.index-icon-arrow-up2:before {
	content: "\e670"
}

.index-icon-download-2:before {
	content: "\e70a"
}

.index-icon-pointer-down:before {
	content: "\e671"
}

.index-icon-pointer-down-dark:before {
	content: "\e672"
}

.index-icon-add-up:before {
	content: "\e673"
}

.index-icon-settings:before {
	content: "\e674"
}

.index-icon-arrow-left:before {
	content: "\e675"
}

.index-icon-cross:before {
	content: "\e676"
}

.index-icon-arrow-right:before {
	content: "\e677"
}

.index-icon-star-dark:before {
	content: "\e678"
}

.index-icon-loading:before {
	content: "\e679"
}

.index-icon-loan-id:before {
	content: "\e687"
}

.index-icon-loan-type-personal:before {
	content: "\e68d"
}

.index-icon-loan-type-business:before {
	content: "\e68b"
}

.index-icon-loan-tag-guarantee:before {
	content: "\e686"
}

.index-icon-loan-tag-mca:before {
	content: "\e688"
}

.index-icon-loan-tag-cash-guarantee:before {
	content: "\e689"
}

.index-icon-loan-tag-full-guarantee:before {
	content: "\e68a"
}

.index-icon-loan-tag-mortgage:before {
	content: "\e68c"
}

.index-icon-bold-mobile:before {
	content: "\e75f"
}

.index-icon-bold-verify:before {
	content: "\e74a"
}

.index-icon-bold-single-person:before {
	content: "\e74b"
}

.index-icon-bold-phone:before {
	content: "\e74c"
}

.index-icon-bold-trend:before {
	content: "\e74d"
}

.index-icon-bold-right-arrow:before {
	content: "\e74e"
}

.index-icon-bold-column:before {
	content: "\e74f"
}

.index-icon-bold-contact:before {
	content: "\e73a"
}

.index-icon-bold-pwd:before {
	content: "\e73b"
}

.index-icon-bold-spark:before {
	content: "\e73c"
}

.index-icon-bold-pen:before {
	content: "\e73d"
}

.index-icon-bold-lock:before {
	content: "\e73e"
}

.index-icon-bold-paper:before {
	content: "\e73f"
}

.index-icon-bold-star:before {
	content: "\e72b"
}

.index-icon-bold-money-bag:before {
	content: "\e72c"
}

.index-icon-bold-email:before {
	content: "\e72d"
}

.index-icon-bold-linkman:before {
	content: "\e72e"
}

.index-icon-checked:before {
	content: "\e6b6"
}

.index-icon-plus:before {
	content: "\e6a4"
}

/*VIP图片*/
.vip-logo {
	margin-left: 2px;
	background: url(../css/images/common/vip-level-icon.png);
	display: inline-block;
	width: 21px;
	height: 14px;
	vertical-align: text-top
}

.vip-logo.icon-vip-v0 {
	background-position: 0 0
}

.vip-logo.icon-vip-v1 {
	background-position: 0 -19px
}

.vip-logo.icon-vip-v2 {
	background-position: 0 -38px
}

.vip-logo.icon-vip-v3 {
	background-position: 0 -57px
}

.vip-logo.icon-vip-v4 {
	background-position: 0 -76px
}

.vip-logo.icon-vip-v5 {
	background-position: 0 -95px
}

.vip-logo.icon-vip-v6 {
	background-position: 0 -114px
}

.vip-logo.icon-vip-v7 {
	background-position: 0 -133px
}

.vip-logo.icon-vip-v8 {
	background-position: 0 -152px
}

.vip-logo.icon-vip-v9 {
	background-position: 0 -171px
}

.vip-logo.icon-vip-v10 {
	background-position: 0 -190px
}